@model IEnumerable<Entities.Concrete.Book>

@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
            

            // secili olan row mavi oluyor
            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }       
            });

            // buton ataması yapılıyor
            $('table > tbody  > tr ').each(function (index, tr) {
                var id = $(this).find("td:nth-child(1)").html().toLowerCase().trim()
                var status = $(this).find("td:nth-last-child(2)").html().toLowerCase().trim()
                console.log(status);
                if(status == "true"){
                    $(this).find("td:last-child()").html("<a class='btn btn-success w-100 text-center' href='/History/CheckOutView/" + id + "'>Check-Out</a>"); // true ise Details açılmayacak çünkü gösterilecek detail yok checkout yapılmamıs
                }
                else{
                    $(this).find("td:last-child()").html("<a class='btn btn-primary w-100 text-center' href='/History/CheckInView/" + id + "'>Check-In</a>"); // true ise Details açılmayacak çünkü gösterilecek detail yok checkout yapılmamıs
                }            
              
            });

          
        });
    </script>
}


<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th class="d-none "></th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutStatus)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
             <tr>
                <td class="d-none">@item.BookId</td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.CheckOutStatus
            </td>
            <td>            
                </td>
        </tr>
}
    </tbody>
</table>
